/* People Container */
.peopleContainer {
    max-width: 800px;
    margin: 2em auto; /* Centered on page */
    padding: 2em; /* Spacing around the content */
    background-color: #f9f9f9; /* Light background for contrast */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    text-align: center; /* Center text */
  }
  
  /* Title Styling */
  .title {
    font-size: 2.5rem;
    margin-bottom: 1em; /* Space below title */
    color: #1e1e1e; /* Dark text color */
  }
  
  /* Section Title Styling */
  .sectionTitle {
    font-size: 2rem;
    margin: 1.5em 0 0.5em 0; /* Space above and below */
    color: #1e1e1e; /* Dark text color */
  }
  
  /* Eboard List */
  .eboardList {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    display: block;
    margin: 0 auto;
    width: 80%;
    
  }

  .eboardMember {
    margin: 4em 0 0 0;
    padding: 2.5em 4em;
    border: solid lightgrey 2px;
    border-radius: 0.5em;
  }
  
  .imageContainer {
    display: flex;
    margin: 0 auto;
    object-fit: cover;
    justify-content: center;
    width: 18em;
    border-radius: 2px;
  }

  .membersImage {
    justify-content: center;
    max-width: 15em;
    max-height: 15em;
    object-fit: fill;
    /* padding: 0.5em 0;*/
  }

  /* Eboard Item */
  .eboardItem {
    font-size: 1.2rem; /* Increase font size for members */
    color: #1e1e1e; /* Dark text color */
    padding: 0.5em 0; /* Space between items */
  }
  
  /* Position Style */
  .position {
    font-weight: bold; /* Bold for positions */
  }
  
  /* Leader Container */
  .leaderContainer {
    display: block;
    margin: 1.5em auto; /* Space above and below leader containers */
    /* background-color: lightgrey; */
    width: 80%;
    border: solid lightgrey 2px;
    border-radius: 0.5em;
    padding: 2em;
  }
  
  /* Leader Title */
  .leaderTitle {
    font-size: 1.8rem; /* Slightly smaller than section title */
    margin-bottom: 0.5em; /* Space below leader title */
    color: #1e1e1e; /* Dark text color */
  }

  .sectorContainer {
    display: flex;
    margin: 0 auto;
    object-fit: cover;
    justify-content: center;
    width: 18em;
  }

  .sectorImage {
    margin: 1em 0 0 0;
    justify-content: center;
    max-width: 10em;
    max-height: 10em;
    object-fit: cover;
    border-radius: 0.2em;
    /* padding: 0.5em 0;*/
  }
  
  /* Analyst List */
  .analystList {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
  }
  
  /* Analyst Item */
  .analystItem {
    font-size: 1rem; /* Font size for analysts */
    color: #6b7280; /* Gray color for analysts */
    padding: 0.25em 0; /* Space between items */
    transition: color 0.3s; /* Smooth color transition */
  }
  
  /* Hover Effect on Analyst Items */
  .analystItem:hover {
    color: #f0a500; /* Accent color on hover */
  }

  
